{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h2>Dashboard</h2>
    <p class="is-size-3 my-3">
        Hello
        {{ user.username }} <br />
        About:
        {{ user.about }} <br />
        Email:
        {{ user.email }} <br />
        Country:
        {{ user.country }} <br />
        First Name:
        {{ user.first_name }} <br />
        Last Name:
        {{ user.last_name }} <br />
    </p>
    <a href="{% url 'user_edit' user.id %}" class="button is-large is-success">
        Edit Profile
    </a>

    {% if user.is_employer %}
    <p>You are employer!</p>
    <br />
    <div>
        <a href="{% url 'add_job' %}" class="button is-large is-success">Add job</a>

    </div>
    <br />

    <h2 class="title has-text-light">Yours created Jobs: </h2>


    {% for job in request.user.jobs.all %}
    <div class="job m-4 p-4">
        <p>
            <a class="has-text-warning" href="{% url 'view_dashboard_job' job.id %}">{{ job.title }}
                ({{ job.get_status_display }})</a>
        </p>

        {% empty %}
        <p>You don't have any jobs yet...</p>
        {% endfor %}
        {% else %}
        <br/>
        <div class="application">
            <h2 class="subtitle">Applications: </h2>
            {% for application in request.user.applications.all %}

            <a href="{% url 'view_application' application.id %}" class="has-text-warning is-size-3">
                {{ application.job.title }}
            </a>
        </div>
        {% empty %}
        <p>You haven't applied for any jobs yet...</p>
        {% endfor %}
        {% endif %}

        <div>

            {% if user.is_employer %}

            <p>You can search for seekers! <br />
                <a href="{% url 'seekers' %}" class="button is-success is-large">Search for Seekers</a>
            </p>


            <h4>Employed Jobs: </h4>
            {% for employed in request.user.employed.all %}
            <p>
                <a class="has-text-warning">{{ employed.title }}
                    ({{ employed.get_status_display }})</a>
            </p>

            {% endfor %}

            {% endif %}


        </div>

    </div>

</div>

{% endblock %}