{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4 is-size-3-desktop">
                <h3>Sign up please</h3>
                <p>or if you have account
                <a href="{% url 'login' %}" class="button is-success is-large">
                    Log In
                </a>
                </p>
                <br/>
                <form method="post" action=".">
                    {% csrf_token %}
                    <p class="is-size-4">
                        {{ user_form.as_p }}
                    </p>

                    <hr>
                    <button class="button is-info is-large" type="submit">Create my account</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}