{% extends 'core/base.html' %}

{% block content %}
<div class="container">
<h2>{{ job.title }}</h2>

<p>{{ job.short_description }}</p>
<p class="has-text-success">({{ job.get_status_display }})</p>

<p>Company name: {{ job.company_name }} </p>
<p>Company address: {{ job.company_country }}</p>

<p>Description: {{ job.short_description }}</p>

<p>{{ job.long_description }}</p>

<div>
<p>Tags: 
{% for tag in job.tags.all %}

<a href="#">
    {{ tag.name }}
  </a>
  {% if not forloop.last %}, {% endif %}
</p>
  {% endfor %}
</div>
<br/>
<button class="button is-medium is-success"><a href="{% url 'edit_job' job.id %}">
    Edit
</a>
</button>
<br/>


{% for application in job.applications.all %}
<div>
<h4><a href="{% url 'view_application' application.id %}">{{ application.created_by.username }}</a></h4>
</div>
{% endfor %}

</div>
{% endblock %}