{% extends 'core/base.html' %}

{% block content %}
<h2>{{ job.title }}</h2>

<p class="is-size-4 my-3">{{ job.short_description }}</p>
<p class="has-text-success">({{ job.get_status_display }})</p>

<p>Company name: {{ job.company_name }} </p><br />
<p>Company address: {{ job.company_country }}</p>

<p>Description: {{ job.short_description }}</p>

<p>{{ job.long_description }}</p>

<div>
Tags:
{% for tag in job.tags.all %}
<a href="{% url 'blog:job_list_by_tag' tag.slug %}">
    {{ tag.name }}
  </a>
  {% if not forloop.last %}, {% endif %}
  {% endfor %}
</div>
<br/>
<a href="{% url 'edit_job' job.id %}" class="button is-success mb-4">
    Edit
</a>


{% for application in job.applications.all %}
<a href="{% url 'view_application' application.id %}">{{ application.created_by.username }}</a>
{% endfor %}


{% endblock %}