{% extends 'core/base.html' %}

{% block content %}
<div class="container is-widescreen">
    <h2>{{ job.title }}</h2>

    <p class="is-size-4 my-3">{{ job.short_description }}</p> 
        <p class="has-text-success">({{ job.get_status_display }})</p>

    <p class="is-size-5 my-3">{{ job.long_description }}</p>

    
    <p class="my-3">{{ job.created_by }}</p>

    <p>Company name: </p>{{ job.company_name }}<br/>
    <b>Company address: </b>{{ job.company_address }}<br/>
    <b>Company place: </b>{{ job.company_place }}<br/>
    <b>Company country: </b>{{ job.company_country }}<br/>
    <b>Company size: </b>{{ job.tags}}<br/>

    {% if job.status == 'active' %}
        <a href="{% url 'apply_for_job' job.id %}" class="button is-success my-4">Apply for Job</a>
    {% else %}
        <p>This job is not available anymore</p>
    {% endif %}
{% endblock %}

</div>