{% extends 'core/base.html' %}

{% block title %}
Search
{% endblock%}

{% block content %}
<section>
  <div>
    <h2>Job containing "{{ query }}"</h2>
    {% if query %}
    <br/>
    <h3>
      {% with results.count as total_results %}
      Found {{ total_results }} result {{ total_results|pluralize }}
      {% endwith %}
    </h3>
    <br/>
    {% for job in results %}

    <br/>
    <h4><a href="{{ job.get_absolute_url }}">{{ job.title }}</a></h4>
    <br/>
    <p>{{ job.body|truncatewords_html:5 }}</p>
    {% empty %}
    <p>There are no results for your query</p>
    {% endfor %}
    <p><a href="{% url 'job:search_job' %}">Search again</a></p>
    {% else %}
    <h3>Search for jobs</h3>
    
    <div class="form-wrapper flex">
      <form action="" method="get" class="info">
        {% csrf_token %}
        {{ form.query }}
        <button class="input info" id="sendMessageButton" type="submit">
          Search
        </button>

      </form>
    </div>

    {% endif %}
  </div>
</section>
{% endblock %}