{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job&Tech&JazzGirl</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Navbar -->

<section class="hero is-medium is-bold background-image is-size-1-mobile">
<div class="hero-head">
        <div class="container has-text-centered">
    <nav class="navbar is-large is-size-4" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{% url 'frontpage' %}" class="navbar-item">
                <strong>Job&Tech</strong>
            </a>
            <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-links">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a href="{% url 'search' %}" class="navbar-item">Search</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="navbar-item">Dashboard</a>
                    <a href="{% url 'notifications' %}" class="navbar-item">Notifications ({{ notifications.count }})</a>
                {% endif %}

                <div class="navbar-item" id="nav-links">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="button is-danger">Log Out</a>
                        {% else %}
                        
                            <a href="{% url 'signup' %}" class="button is-danger">
                                SignUp
                            </a>
                            <a href="{% url 'login' %}" class="button is-light">
                                Log In
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
        </div>
     <div class="hero-body">
          <div class="container has-text-centered">
      <p class="title">
        {% if userprofile.is_employer %}
            Welcome employer
        {% else %}
        You'll find a job of your dream!
        {% endif %}
      </p>
    <h4>Nice to see you here</h4>
    </div>
  </div>
  </div>
    <!--End Navbar-->
</section>

    <!-- Main content -->
    <section class="section is-medium has-background-dark has-text-light">
        {% block content %}
        {% endblock %}
    </section>

    <!-- End Main content -->

    <footer class="footer has-background-dark has-text-light">
        <div class="columns">
      <div class="column">
        <h5>Tech&JazzGirl &copy;</h5>
      </div>
      <div class="column">
                <a href="https://twitter.com/NataliSemi" title="twitter-social-media">
                    <img src="{% static 'icons/twitter.svg' %}" alt="twitter-social-media">
                </a>
      </div>
      <div class="column">
                <a href="https://www.youtube.com/channel/UCBjWAxIq6sDuKicnoE4amjg" title="youtube-social-media">
                    <img src="{% static 'icons/youtube.svg' %}" alt="youtube-social-media">
                </a>
      </div>
      <div class="column">
                <a href="https://www.instagram.com/nataliiasemi/" title="instagram-social-media">
                    <img src="{% static 'icons/instagram.svg' %}" alt="instagram-social-media">
                </a>
      </div>
    </div>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://unpkg.com/vue@next"></script>
    {% block scripts %}
    {% endblock %}


</body>

 <!-- Footer -->

</html>