{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns is-offset-3">
             <div class="column is-offset-3 is-size-3-desktop is-size-2-mobile">
                <h1 class="title">Log in</h1>

                <form method="post" action="." class="py-3 is-medium">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="field py-3">
                        <div class="control">
                            <button class="button is-success is-large is-centered">Log in</button>
                        </div>
                    </div>
                </form>

                <p>
                    If you don't have any account, please  <a class="button is-info is-large" href="{% url 'signup' %}">
                    Sign up
                </a>
            </p>
            </div>
        </div>
    </div>
{% endblock %}