{% extends 'core/base.html' %}

{% block content %}
    <div class="container ">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title">Log in</h1>

                <form method="post" action=".">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Log in</button>
                        </div>
                    </div>
                </form>
                <p>
                    If you don't have any account, please  <a href="{% url 'signup' %}">
                    Sign up
                </a>
            </p>
            </div>
        </div>
    </div>
{% endblock %}