{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4 is-size-4-mobile">
                <h2>Sign up please</h2>
                <p>or if you have account
                <a href="{% url 'login' %}" class="button is-success is-large">
                    Log In
                </a>
                </p>
                <br/>
                <form method="post" action=".">
                    {% csrf_token %}
                    <p class="is-size-2-mobile">
                        {{ form.as_p }}
                    </p>

                    <hr>

                    <div class="field">
                        <label>Account type</label>

                        <div class="control">
                            <div class="select">
                                <select name="account_type">
                                    <option value="jobseeker" selected>Job seeker</option>
                                    <option value="employer">Employer</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <a class="button is-info is-large">Sign up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}