<footer class="footer has-background-dark has-text-light">
    <div class="columns">
  <div class="column">
    <h5>Tech&JazzGirl &copy;</h5>
  </div>
  <div class="column">
            <a href="https://twitter.com/NataliSemi" title="twitter-social-media">
                <img src="{% static 'icons/twitter.svg' %}" alt="twitter-social-media">
            </a>
  </div>
  <div class="column">
            <a href="https://www.youtube.com/channel/UCBjWAxIq6sDuKicnoE4amjg" title="youtube-social-media">
                <img src="{% static 'icons/youtube.svg' %}" alt="youtube-social-media">
            </a>
  </div>
  <div class="column">
            <a href="https://www.instagram.com/nataliiasemi/" title="instagram-social-media">
                <img src="{% static 'icons/instagram.svg' %}" alt="instagram-social-media">
            </a>
  </div>
</div>
</footer>