{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <h1 class="title">Notifications</h1>

        {% if not notifications %}
            No  notifications yet!
        {% endif %}

        {% for notification in notifications %}
            <div class="notification">
                <p>
                    {% if notification.notification_type == 'message' %}
                    <a href="{% url 'notifications' %}?goto=view_application&notification={{ notification.extra_id }}">
                        <strong>{{ notification.created_by.username }}</strong> sent you a message
                        <small>{{ notification.created_at|timesince }} ago</small>
                    </a>
                    {% elif notification.notification_type == 'application' %}
                    <a href="{% url 'notifications' %}?goto=view_application&notification={{ notification.extra_id }}">
                        <strong>{{ notification.created_by.username }}</strong> apply for your job
                        <small>{{ notification.created_at|timesince }} ago</small>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}